<%= render partial: "layouts/header" %>
<%= stylesheet_link_tag "bord.css" %>

<section>
	<div class="container my-5">
		<div class="row align-items-center">
			<div class="col-7">
				<h2>Calcule y optimice su consumo electrico</h2>
				<p>A traves de nuestro simulador podra calcular el rendimiento que paneles solares y otros equipos sostenibles tendran en su hogar</p>
			</div>
			<div class="col-5 text-center">
			<%= image_tag("house2.jpg", style:"border-radius:25px;", height: "225", width: "auto") %>
			</div>
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="container my-5">
		<div class="row align-items-center">
			<div class="col-7">
			<%= image_tag("money.jpg", style:"border-radius:25px;", height: "225", width: "auto") %>
			</div>
			<div class="col-5">
				<h2>Obtenga un mejor rendimiento de su electricidad</h2>
				<p>Reduzca su consumo electrico con productos con mayor rendimiento.</p>
			</div>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<%= link_to("Ir a simulador!", unity_path, class:"btn btn-primary", style:"height: 80px; width: 600px; font-size: 32px; padding-top: 12px") %>
	</div>

	<div class="container text-center" >
		<div class="row">
			<div class="col">
				<%= image_tag("keyboard/w_image.png") %>
				WASD
			</div>
			<div class="col">
			Teclas de Movimiento
			</div>
		</div>
		<div class="row">
			<div class="col">
				E
			</div>
			<div class="col">
				Menu para Objetos
			</div>
		</div>
		<div class="row">
			<div class="col">
				Space
			</div>
			<div class="col">
				Saltar / Volar
			</div>
		</div>
		<div class="row">
			<div class="col">
				P
			</div>
			<div class="col">
				Pausar dia
			</div>
		</div>
		<div class="row">
			<div class="col">
				Q
			</div>
			<div class="col">
				Colapsa menu de objetos
			</div>
		</div>
		<div class="row">
			<div class="col">
				C
			</div>
			<div class="col">
				Bajar mientras vuelas
			</div>
		</div>
		<div class="row">
			<div class="col">
				Click derecho
			</div>
			<div class="col">
				Rotar objeto
			</div>
		</div>
		<div class="row">
			<div class="col">
				Click izquierdo
			</div>
			<div class="col">
				Colocar objeto
			</div>
		</div>
		<div class="row">
			<div class="col">
				R 
			</div>
			<div class="col">
				Modo Remover objetos
			</div>
		</div>
	</div>

	<%= render partial: "carbon_form" %>

	<%= render partial: "calc_form" %>
</section>