<!DOCTYPE html>
<html>
  <head>
    <title>EzEnergy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= javascript_include_tag "ezEnergyWebGL3.framework"%>
    <%= javascript_include_tag "ezEnergyWebGL3.loader"%>
    <%= favicon_link_tag asset_path("TemplateData/favicon.ico") %>
    <%= stylesheet_link_tag "style"%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
